# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  client-test:
    runs-on: ubuntu-latest
    if: ${{  !contains(github.event.head_commit.message, '[ci skip]') }}
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 12.19
        uses: actions/setup-node@v1
        with:
          node-version: '12.19'
      - name: Configure for public registry
        run: |
          yarn config set registry https://registry.npmjs.org/
          npm config set registry https://registry.npmjs.org/
          yarn config set strict-ssl false
          yarn config set httpTimeout 600000
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Run tests
        run: |
          yarn install
          npm test -- --coverage;
        working-directory: ./client
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
  server-test:
    runs-on: ubuntu-latest
    if: ${{  !contains(github.event.head_commit.message, '[ci skip]') }}
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 12.19
        uses: actions/setup-node@v1
        with:
          node-version: '12.19'
      - name: Configure for public registry
        run: |
          yarn config set registry https://registry.npmjs.org/
          npm config set registry https://registry.npmjs.org/
          yarn config set strict-ssl false
          yarn config set httpTimeout 600000
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Install client dependencies for build
        run: yarn install
        working-directory: ./client
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Run tests and build
        run: |
          yarn install
          npm run build
          npm test
        working-directory: ./server
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
  semantic-release:
    runs-on: ubuntu-latest
    needs: [client-test, server-test]
    if: ${{  !contains(github.event.head_commit.message, '[ci skip]') && github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Use Node.js 12.19
        uses: actions/setup-node@v1
        with:
          node-version: '12.19'
      - name: Configure for public registry
        run: |
          yarn config set registry https://registry.npmjs.org/
          npm config set registry https://registry.npmjs.org/
          yarn config set strict-ssl false
          yarn config set httpTimeout 600000
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Install aio
        run: npm install -g @adobe/aio-cli@8.2.0
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Install client dependencies
        run: yarn install
        working-directory: ./client
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
      - name: Run build and semantic release
        run: |
          yarn install
          npm run build
          npm run semantic-release
        working-directory: ./server
        env:
          GITHUB_TOKEN: ${{ secrets.ADOBE_BOT_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.ADOBE_BOT_NPM_TOKEN }}
          NODE_TLS_REJECT_UNAUTHORIZED: '0'
